/**
 * Tooltip CSS
 *
 * This is the base CSS required for the tooltip to display correctly. You can adjust the border radius,
 * color, font, and other styles here.
 */
.tooltip-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	line-height: normal !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #222;
	background: rgba(0, 0, 0, 0.85);
	z-index: 99;
}

.tooltip-container .tooltip-wrapper {
	position: relative;
}

.tooltip-container .tooltip-arrow {
	position: absolute;
	border-width: 7px;
	border-style: solid;
}

.tooltip-container.arrow-b .tooltip-arrow {
	top: -14px;
	left: 50%;
	margin-left: -7px;
	border-color: transparent transparent #222 transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
}

.tooltip-container.arrow-t .tooltip-arrow {
	bottom: -14px;
	left: 50%;
	margin-left: -7px;
	border-color: #222 transparent transparent transparent;
	border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

.tooltip-container.arrow-l .tooltip-arrow {
	top: 50%;
	right: -14px;
	margin-top: -7px;
	border-color: transparent transparent transparent #222;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
}

.tooltip-container.arrow-r .tooltip-arrow {
	top: 50%;
	left: -14px;
	margin-top: -7px;
	border-color: transparent #222 transparent transparent;
	border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
}

.tooltip-container .tooltip-content {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	padding: 8px 16px;
}